* {
  margin: 0;
  padding: 0;
}
body {
    /* background: linear-gradient(to right, #f3e9ff, #fff); */
    background-image: url("https://www.teahub.io/photos/full/41-417767_restaurant-menu-theme-backgrounds-menu-restaurant.jpg");
}
ul li {
  list-style: none;
}
.card {
  width: 360px;
  margin: 30px;
}
.type-bar {
    color: rgb(65, 91, 13)
}
.type-sitdown {
    color: rgb(40, 24, 1);
}
.card-image {
    width: 330px;
    height: 150px;
}