* {
  margin: 0;
  padding: 0;
}
body {
    background: linear-gradient(to bottom, #f3e9ff, #fff);
}
ul li {
  list-style: none;
}
.card {
  width: 400px;
  margin: 30px;
}
.type-bar {
    background: linear-gradient(to bottom, #50376d, #fff);
}
